{{#each posts}}
  <div class="post">
    <h2>{{title}}</h2>
    <p>{{text}}</p>
    <p>Posted by {{user.username}} on {{formatDate post.dateCreated}}</p>
    <a href="/post/{{id}}">Read More</a>
  </div>
{{/each}}