<div class="post">
  <h2>{{title}}</h2>
  <p>{{text}}</p>
  <p>Posted by {{user.username}} on {{formatDate date_created}}</p>
</div>

<div class="comments">
  {{#each comments}}
    <div class="comment">
      <p>{{text}}</p>
      <p>Commented by {{user.username}} on {{formatDate created_at}}</p>
    </div>
  {{/each}}
</div>

{{#if isAuthenticated}}
  <form id="comment-form">
    <div class="form-group">
      <label for="comment">Leave a Comment:</label>
      <textarea id="comment" name="comment" required></textarea>
    </div>
    <button type="submit">Submit Comment</button>
  </form>
{{else}}
  <p><a href="/login">Log in</a> to leave a comment.</p>
{{/if}}